body {
	background-color: transparent;
}

.pt-result-container {
	position: relative;
    width: 97.5%;
}

.pt-toolbar {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
    width: 97.5%;
	bottom: 4px;
}

.pt-button {
	margin: 0px 4px 0px 4px;
	width: 16.5%;
}
.pt-evaluate-button {
	background-color: darkseagreen;
}
.pt-debug-button {
	background-color:  mediumseagreen;
}